<h1><%= @description %></h1>
<h1>Answer these riddles!</h1>

<form action="/output" id="riddle1">
  <div class="form-group">
    <label for="q1">What has cities, but no houses; forests, but no trees; and water, but no fish?</label>
    <input id="1" name="q1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn button1">Go!</button>
  </form>
  <form action="/output" id = "riddle2">
  <div class="form-group">
    <label for="q2">There was a plane crash every single person died. Who survived?</label>
    <input id="2" name="q2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn button2">Go!</button>
</form>
  <form action="/output" id='riddle3'>
  <div class="form-group question3" >
    <label for="q3">What is easy to get into, but hard to get out of?</label>
    <input id="3" name="q3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn button3">Go!</button>
</form>
