<h1><%= @description %></h1>
<h1>Answer these riddles!</h1>


<form action="/output_3" method="post">
  <div class="form-group">
    <label for="q7">What has cities, but no houses; forests, but no trees; and water, but no fish?</label>
    <input id="1" name="q7" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="q8">There was a plane crash every single person died. Who survived?</label>
    <input id="2" name="q8" class="form-control" type="text">
  </div>
  <div class="form-group question3" >
    <label for="q9">What is easy to get into, but hard to get out of?</label>
    <input id="3" name="q9" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
